[Desktop Entry]
Type=Application
Name=WattSeal
GenericName=Power Monitor
Comment=Per-app power monitoring tool
Exec=WattSeal
Icon=WattSeal
Terminal=false
Categories=Utility;System;Monitor;
Keywords=power;energy;monitoring;hardware;
StartupWMClass=WattSeal